spring:
  profiles:
    active: local
  application:
    name: young-ai-CodeGenerate
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/yang_ai_code_generator?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 1234
server:
  port: 8123
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      paths-to-match: /**
      packages-to-scan: com.youngheart.youngaicodegenerate.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
